@font-face {
    font-family: 'dotFont';
    src: url('./access/Doto-SemiBold.ttf');
}

* {
    padding: 0 0;
    margin: 0 0;
    overflow: hidden;
}

header {
    width: 100%;
    height: 50px;
    background-color: #ffe4c4;
}

.logo {
    font-family: 'dotFont';
    font-size: 28px;
    background-color: #fff;
    border-radius: 7px;
    width: 120px;
    padding: 3px 20px;
    margin: 5px 15px;
    position: absolute;
}

nav {
    font-size: 20px;
}
nav > a {
    transition: transform 0.3s ease;
    transform: scale(1);
    color:dimgray;
    text-decoration: none;
    border-radius: 7px;
    padding: 8px 10px;
}

nav > a:hover {
    transform: scale(1.2);
    background-color: #f0d6b6;
    
}

.catalog {
    position: absolute;
    margin: 0.35% 60%;
}

.shops {
    position: absolute;
    margin: 0.35% 68%;
}

.review {
    position: absolute;
    margin: 0.35% 77.5%;
}

.basket {
    width: 2%;
    position: absolute;
    margin: 0.6% 89%;
}

.user {
    background-color: #fff;
    border-radius: 50px;
    width: 2%;
    padding: 4px 4px;
    position: absolute;
    margin: 0.4% 93%;
}

/* Главная страница */

.main {
    text-align: center;
}